.header {
    padding-bottom: 3rem;
    padding-left: 15rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: larger;
}

#voltar {
    width: 3%;
    align-items: center;
}

.tabela-estoque {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem;
}

input {
    width: calc(50% - 2rem); 
    padding: 1rem; 
    border: 2px solid #ccc; 
    margin-bottom: 1rem; 
}

.form-container, .table-container{
    max-width: 600px; 
    margin: 0 auto; 
}

.form-container button{
    padding: 1rem;
    cursor: pointer;
}

.btn-alvoPage{
    width: 6%;

}

.titulodapagina {
    font-size: 24px;
    margin: 0;
}

/* Container do formulário */
.form-container {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 2rem; /* Adicionado espaço abaixo para separar da tabela */
}

.form-container h2 {
    margin-top: 0;
    margin-bottom: 1rem;
}

.tabela-estoque {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem;
}

.tabela-estoque input {
    width: calc(50% - 2rem);
    padding: 1rem;
    border: 2px solid #ccc;
    margin-bottom: 1rem;
}

.tabela-estoque button {
    padding: 1rem;
    cursor: pointer;
    background-color: #ff9100; /* Cor de fundo do botão */
    border: none;
    color: black;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 600;
}

.tabela-estoque button:hover {
    background-color: rgb(61, 43, 4);
    color: white;
}

/* Container da tabela */
.table-container {
    max-width: 600px;
    margin: 0 auto;
}

.table-container h2 {
    margin-top: 0;
    margin-bottom: 1rem;
}

/* Tabela */
table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 0.75rem;
    text-align: left;
}

table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}