.botoesdenavegacao {
    width: 100%;
    display:inline;
    text-align: center;
    background-color: rgb(228, 228, 228);;
}

.Navmenu :link{
    color:rgb(0, 0, 0);
    font-family:cursive;
}

.Navmenu {
    padding: .7rem;
    position:absolute;
    top: 1%;
    display: flex;
    width: 680px;
    align-items: center;
    border-radius: 8px;
    background-color: rgb(228, 228, 228);
    z-index: 1000; 
    
}


.roboto-thin-italic{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

