
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color:#2e2402;
  background-position: center;
  background-size: cover;
}

.todocontainer {
  position: flex;
  margin: 4rem auto;
  max-width: 800px;
  background-color: #fdfdfd;
  padding: 3rem;
  border-radius: 16px;
  justify-content: center;
 
}


/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */
